// MainPage
// │
// ├── mainContainer
// │   └── app
// │       ├── box
// │       │   ├── Tabs
// │       │   └── cards
// │       │       ├── Tasks
// │       │       │   ├── Form
// │       │       │   │   ├── input
// │       │       │   │   └── button
// │       │       │   └── cardBox
// │       │       │       └── cardItem (multiple items)
// │       │       └── details
// │       │           ├── title
// │       │           ├── Memoirs (commented out)
// │       │           │   └── Container div
// │       │           │       └── memoir (multiple items)
// │       │           └── Habits (commented out)
// │       │               └── Container div
// │       │                   └── habit
// │       │                       ├── name
// │       │                       ├── count
// │       │                       ├── goal
// │       │                       └── HabitCircles
// │       └── imageBox
// │           └── image
// │
// Tabs
// └── tabs
//     └── tab (multiple buttons)

// ╔══════════════════════╗
// ║   General Styles     ║
// ╚══════════════════════╝

$background-color: rgb(21, 21, 21);
$input-background: rgb(23, 23, 23);
$text-color: white;
$card-bg: rgba(18, 18, 18, 0);
$card-blur: calc(1vh + 1vw);
$card-padding: calc(1vh + 1vw);
$card-margin: calc(0.5vh + 0.5vw);
$border-radius: calc(0.5vh + 0.5vw);
$card-width: calc(15vh + 15vw);
$font-size: calc(0.1vh + 0.1vw);
$image-opacity: 0.5;
$blur-filter: calc(1vh + 1vw);

html, body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  color: $text-color;
}

@font-face {
  font-family: lemon;
  src: url(/LEMONMILK-Medium.otf);
}

* {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  font-family: lemon;
}

*::-webkit-scrollbar {
  display: none;
}

@mixin flexBox($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: calc(2vh + 2vw);
}

// ╔══════════════════════╗
// ║   Main Container     ║
// ╚══════════════════════╝

.mainContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
}

// ╔═══════════════════╗
// ║   App Container   ║
// ╚═══════════════════╝

.App {
  @include flexBox();
  height: 100vh;
  width: 100vw;
  background-color: rgb(32, 32, 32);
  overflow: hidden
}

// ╔════════════════╗
// ║   App layout   ║
// ╚════════════════╝

.mainPage {
  @include flexBox();
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.contentsBox {
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}


.contents {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
}


.imagesBox {
  background-color: lightblue;
  width: 30%;
  height: 100%;
}

.themeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tabsContainer {
  width: 50%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 5%;
  gap: 5%;
}

.notes {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.tasks {
  width: 50%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

// ╔═══════════╗
// ║   Tasks   ║
// ╚═══════════╝

.tasks {
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 5%;
}

.notes {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.mainForm {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
}

.mainFormInput {
  border: calc(0.1vh + 0.1vw) solid pink;
  border-radius: $border-radius;
}

.mainInput {
  background-color: $input-background;
  border: none;
  box-sizing: border-box;
  border-radius: $border-radius 0 0 $border-radius;
  padding: calc(0.5vh + 0.5vw) calc(1vh + 1vw);
  font-size: calc(0.7vh + 0.7vw);
  width: 100%;
}

.mainInput:focus {
  border: none;
  outline: none;
}

.mainSubmit {
  background-color: $input-background;
  border-radius: 0 $border-radius $border-radius 0;
  padding: calc(0.5vh + 0.5vw) calc(1vh + 1vw);
  font-size: calc(0.9vh + 0.9vw);

  box-sizing: border-box;
  width: max-content;
  border: none;
  color: white;
}

.cardsBox, .memoirBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5%;
  overflow-y: scroll;
  height: 100%;
}

.card, .memoir {
  display: flex;
  background-color: $card-bg;
  padding: $card-padding;
  border-radius: $border-radius;
  width: 100%;
  font-size: $font-size;
  border: calc(0.1vh + 0.1vw) solid pink;
  text-align: left;
  color: $text-color;
  font-size: calc(0.7vh + 0.7vw);
  }

  .star {
    margin-right: calc(1vh + 1vw);
    font-size:  calc(0.7vh + 0.7vw);
  }

  .changeBtnSave {
    width: 100%;
    border-radius: 0 $border-radius 0 0 !important;
  }

  .changeBtnDelete {
    border-radius: 0 0 $border-radius 0 !important;
    width: 100%;
  }

// ╔═══════════╗
// ║   Notes   ║
// ╚═══════════╝

// ╔═══════════╗
// ║   Image   ║
// ╚═══════════╝



// ╔══════════════╗
// ║   Tabs Bar   ║
// ╚══════════════╝

.tabs {
  display: flex;
  background-color: rgb(27, 27, 27);
  box-sizing: border-box;
  justify-content: space-between;
  padding: calc(0.5vh + 0.5vw) 0;
}

.tab {
  font-size: calc(0.7vh + 0.7vw);
  background-color: transparent;
  color: white;
  border: none;
  flex: 1;
  transition: text-shadow 0.5s ease;
}

.buttonSection {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0; 
  left: 0;
  right: 0;
  z-index: 10;
  gap: 5%;
  margin-right: calc(1vh + 1vw);
}

.tabs1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  font-size: calc(0.7vh + 0.7vw);
  background-color: rgba(27, 27, 27, 0);
  box-sizing: border-box;
  padding: calc(0.5vh + 0.5vw) 0;
}


// ╔════════════╗
// ║   Themes   ║
// ╚════════════╝


.themesContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  @include flexBox();
  backdrop-filter: brightness(0.3);
  padding: calc(3vh + 3vw);
  box-sizing: border-box;
  z-index: 1000;
}

.themeBox {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.mainThemeBox {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: $background-color;
  margin: calc(0.5vh + 0.5vw); 
  padding: calc(1vh + 1vw);
  border-radius: $border-radius;
  border: calc(0.1vh + 0.1vw) solid pink;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20vw, 20vh), 1fr));
  gap: calc(0.5vh + 0.5vw);
}

.themesBox {
  display: flex;
  aspect-ratio: 16 / 9; 
  overflow: hidden; 
  margin: calc(0.5vh + 0.5vw); 
  border-radius: $border-radius;
  border: calc(0.1vh + 0.1vw) solid pink;
  padding: 0;
  justify-content: space-evenly;
  background-color: transparent;
  background-size: cover;
}

.themeImageBox, .themeColor {
  flex: 1; 
}

.themeImageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.themeColor {
  width: 100%;
  height: 100%;
}

.deleteTheme {
  font-size: calc(0.5vh + 0.5vw);
  padding-left: calc(0.5vh + 0.5vw);
  background-color: transparent;
  border: none;
  color: white;
}

.themeFormBox {
  margin: calc(0.5vh + 0.5vw); 
  padding: 5%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: $border-radius;
  border: calc(0.1vh + 0.1vw) solid pink;
  display: flex;
  gap: 5%;
  flex-direction: column;
  background-color: $background-color;
}

.themeHeader {
  text-align: center;
  text-shadow: 0 0 calc(1vh + 1vw) pink;
}

.imageInput {
  display: flex;
  background-color: $card-bg;
  padding: calc(0.5vh + 0.5vw);
  margin: calc(0.5vh + 0.5vw) 0; 
  border-radius: $border-radius;
  border: calc(0.1vh + 0.1vw) solid pink;
  width: 100%;
  height: 100%;
  flex: 1;
  box-sizing: border-box;
  font-size: calc(1vh + 1vw);
  text-align: left;
  color: $text-color;
}

.themeColorInput {
  border: calc(0.1vh + 0.1vw) solid pink;
  border-radius: $border-radius;
  width:  calc(2vh + 2vw);
  height:  100%;
  width: 100%;
  box-sizing: border-box;
  padding:  0;
  cursor: pointer; 
  appearance: none; 
  flex: 1;
}

.themeText {
  font-size: calc(1vh + 1vw);
  display: flex;
  align-content: center;
  flex: 1;
}

.themeColorInputBox {
  display: flex;
  width: 100%;
  flex: 1;
}

.addTheme {
  background-color: rgba(255, 255, 255, 0);
  border: solid  calc(0.1vh + 0.1vw);
  border-radius: calc(0.5vh + 0.5vw);
  padding: calc(0.2vh + 0.2vw) calc(0.6vh + 0.6vw);
  margin: calc(0.5vh + 0.5vw) 0;
  color: rgb(255, 255, 255);
  font-size: calc(0.8vh + 0.8vw);
  flex: 1;
}

.mainThemeButton {
  position: absolute;
  color: white;
  text-shadow: 0 0 calc(1vh + 1vw) pink;
  font-size: calc(3vh + 3vw);
  z-index: 100;
  display: flex;
  width: auto;
  height: auto;
  right: 0;
  top: 0;
  margin: calc(0.5vh + 0.5vw);
  background-color: transparent;
  border: none;
}

.themeColorInput::-webkit-color-swatch-wrapper {
  padding:  calc(1vh + 1vw);
  border-radius: $border-radius;
}

.themeColorInput::-webkit-color-swatch {
  border: calc(0.1vh + 0.1vw) solid pink;
  border-radius: $border-radius;
}

.themeColorInput::-moz-color-swatch {
  border: calc(0.1vh + 0.1vw) solid pink;
  border-radius: $border-radius;
}

p {
  font-size: calc(0.5vh + 0.5vw);
}

// ╔════════════════════════╗
// ║   ImageBox Container   ║
// ╚════════════════════════╝

// .imageBox {
//   position: relative;
//   width: 30%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   overflow: hidden;
  
//   .imageOverlay {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     object-position: center;
//     opacity: $image-opacity;
//     filter: blur($blur-filter);
//   }

//   .image {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     object-position: center;
//   }
// }

// ╔═══════════════════╗     // ╔═════════════════════╗
// ║   Box Container   ║     // ║   Cards Container   ║
// ╚═══════════════════╝     // ╚═════════════════════╝

// .box {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   width: 70%;

//   .cards {
//     display: flex;
//     max-height: 100%;
//     overflow: hidden;

//     .cardBox, .memoirBox {
//       display: flex;
//       flex-direction: column;
//       height: calc(23vh + 23vw);
//       overflow-y: scroll;
//     }
//   }
// }


// ╔═══════════╗
// ║   Tasks   ║
// ╚═══════════╝

// .tasks {
//   width: 50%;
//   padding: calc(2vh + 2vw);

//   .input {
//     background-color: $input-background;
//     width: max-content;
//     border: none;
//     border-radius: $border-radius 0 0 $border-radius;
//     padding: calc(0.5vh + 0.5vw) calc(1vh + 1vw);
//     margin: calc(1vh + 1vw) 0;
//   }

//   .cardBox, .memoirBox {
//     overflow-y: scroll;
//   }

//   .card {
//     display: flex;
//     background-color: $card-bg;
//     padding: $card-padding;
//     margin: $card-margin 0;
//     border-radius: $border-radius;
//     width: 100%;
//     font-size: $font-size;
//     border: calc(0.1vh + 0.1vw) solid pink;
//     text-align: left;
//     color: $text-color;
//   }
// }

// .cardContent, .memoirContent {
//   font-size: calc(0.5vh + 0.5vw);

// }

// .cardInput {
//   width: max-content;
//   display: flex;
//   background-color: $card-bg;
//   padding: $card-padding;
//   margin: $card-margin 0;
//   border-radius: $border-radius;
//   font-size: calc(0.5vh + 0.5vw);
//   border: calc(0.1vh + 0.1vw) solid pink;
//   text-align: left;
//   color: $text-color;
// }

// .star {
//   margin-right: calc(1vh + 1vw);
//   font-size: calc(0.5vh + 0.5vw);
// }

// .star, h1 {
//   text-shadow: 0 0 calc(1vh + 1vw) pink;

// }

// h1 {
//   font-size: calc(1.8vh + 1.8vw);
// }

// ╔═════════════╗
// ║   Details   ║
// ╚═════════════╝

// .detailsBox {
//   width: 50%;
//   padding: calc(2vh + 2vw) calc(2vh + 2vw) calc(1vh + 1vw) calc(2vh + 2vw);
//   border-left: calc(0.1vh + 0.1vw) solid $input-background;
//   display: flex;
//   flex-direction: column;

//   .memoirInput {
//     display: flex;
//     background-color: $card-bg;
//     padding: $card-padding;
//     margin: $card-margin 0;
//     border-radius: $border-radius;
//     border: calc(0.1vh + 0.1vw) solid pink;
//     width: max-content;
//     font-size: calc(0.5vh + 0.5vw);
//     text-align: left;
//     color: $text-color;
//   }

//   .memoir {
//     display: flex;
//     background-color: $card-bg;
//     padding: $card-padding;
//     margin: $card-margin 0;
//     border-radius: $border-radius;
//     border: calc(0.1vh + 0.1vw) solid pink;
//     width: 100%;
//     font-size: $font-size;
//     text-align: left;
//     color: $text-color;
//   }

// }


// ╔══════════════════════╗
// ║   Other Elements     ║
// ╚══════════════════════╝

.App-logo {
  display: none;
}

.input {
  background-color: $input-background;
  border: none;
  border-radius: $border-radius 0 0 $border-radius;
  padding: calc(0.5vh + 0.5vw) calc(1vh + 1vw);
  margin: calc(1vh + 1vw) 0;
  font-size: calc(0.5vh + 0.5vw);
}

.submit {
  background-color: $input-background;
  border-radius: 0 $border-radius $border-radius 0;
  padding: calc(0.5vh + 0.5vw) calc(1vh + 1vw);
  font-size: calc(0.5vh + 0.5vw);
  border: none;
  color: white;
}

// ╔════════════╗
// ║   Habits   ║
// ╚════════════╝

.mainHabitContainer {
  box-sizing: border-box;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

// ╔═══════════════════╗
// ║   Habits Layout   ║
// ╚═══════════════════╝

.cat {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.addHabbitRealButton {
  background-color: $input-background;
  border: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: $border-radius;
  padding: calc(0.5vh + 0.5vw) calc(1vh + 1vw);
  font-size: calc(0.7vh + 0.7vw);
  width: 100%;
}

.addHabitBut {
  font-size: calc(0.9vh + 0.9vw);
}

.habitsContain {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 5%;
}

.habitBox {
  height: 100%; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10%;
}


.habitSection {
  width: 100%;
  height: auto; 
  display: flex;
  flex-direction: column;
  gap: 5%;
  box-sizing: border-box;
  background-color: $background-color;
  border-radius: calc(1vh + 1vw);
}


// ╔═════════════════════╗
// ║   Habits Elements   ║
// ╚═════════════════════╝


.habitName {
  font-size: calc(1.3vh + 1.3vw);
  box-sizing: border-box;
}

.habitNameBox {
  padding: calc(1vh + 1vw);
}

.habitDetsBox {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 0 calc(1vh + 1vw);
}

.habitDet {
  font-size: calc(0.7vh + 0.7vw);
}

.habitButton {
  background-color: white;
  box-shadow: 0 0 calc(1vh + 1vw) pink;
  box-sizing: border-box;
  border: none;
  border-radius: calc(0.5vh + 0.5vw);
  padding: calc(0.2vh + 0.2vw) calc(0.6vh + 0.6vw);
  margin: calc(0.5vh + 0.5vw);
  color: rgb(255, 118, 216);
  font-size: calc(1vh + 1vw);
}

// ╔═════════════╗
// ║   Circles   ║
// ╚═════════════╝
.circleBox {
  width: 100%;
  height: auto; 
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column; 
  gap: calc(0.3vh + 0.3vw);
  overflow-x: auto;
  overflow-y: hidden; 
  padding: calc(1vh + 1vw);
  margin-bottom: calc(0.5vh + 0.5vw);
}


.circles {
  width: calc(1vh + 1vw);
  height: calc(1vh + 1vw);
  border-radius: calc(0.3vh + 0.3vw);
}

.tasksForm {
  display: flex;
}

.memoirFormBox {
  display: flex;
}

.submitButton {
  background-color: transparent;
  font-size: calc(0.5vh + 0.5vw);
  border: none;
  color: white;
  margin-left: calc(1vh + 1vw);
}

// ╔════════════╗
// ║   Habits   ║
// ╚════════════╝

.addHabitButton {
  text-shadow: 0 0 calc(1vh + 1vw) pink;
  font-size: calc(1vh + 1vw);
  background-color: transparent;
  border: none;
  color: white;
  font-size: calc(2vh + 2vw);
}

.habitForm {
  margin-top: calc(1vh + 1vw);
  padding: calc(1vh + 1vw);
  border-radius: $border-radius;
  border: calc(0.1vh + 0.1vw) solid pink;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.habitInput {
  display: flex;
  background-color: $card-bg;
  padding: calc(0.5vh + 0.5vw);
  margin: calc(0.5vh + 0.5vw) 0; 
  border-radius: $border-radius;
  border: calc(0.1vh + 0.1vw) solid pink;
  font-size: calc(0.5vh + 0.5vw);
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  color: $text-color;
}

.habitInput:focus {
  border: white  calc(0.1vh + 0.1vw)  solid;
  color: white;
}

.habitSubmit {
  background-color: $background-color;
  border: solid calc(0.1vh + 0.1vw) pink;
  border-radius: calc(0.5vh + 0.5vw);
  padding: calc(0.2vh + 0.2vw) calc(0.6vh + 0.6vw);
  margin: calc(0.5vh + 0.5vw);
  color: rgb(255, 255, 255);
  font-size: calc(1vh + 1vw);
}

.habitTextMain {
  font-size: calc(1vh + 1vw);
}

.habitText {
  font-size: calc(0.8vh + 0.8vw);
}

.habitGoal, .habitColor, .habitNameBox {
  display: flex;
  align-items: center;
}

.habitColorInput {
  border: calc(0.1vh + 0.1vw) solid pink;
  color: #0e599f;
  border-radius: $border-radius;
  width:  10%;
  height:  calc(1.5vh + 1.5vw);
  box-sizing: border-box;
  padding:  0;
  cursor: pointer; 
  appearance: none; 
  margin-left: calc(0.5vh + 0.5vw);
}

.goalText {
  margin-left: calc(1vh + 1vw);
}

.habitColorInput::-webkit-color-swatch-wrapper {
  padding:  calc(1vh + 1vw);
  border-radius: calc(1vh + 1vw);
}

.habitColorInput::-webkit-color-swatch {
  border: calc(0.1vh + 0.1vw) solid pink;
  border-radius: calc(1vh + 1vw);
}

.habitColorInput::-moz-color-swatch {
  border: calc(0.1vh + 0.1vw) solid pink;
  border-radius: calc(1vh + 1vw);
}

.deleteHabitButton {
  text-shadow: 0 0 calc(1vh + 1vw) pink;
  font-size: calc(2vh + 2vw);
  margin-left: calc(1vh + 1vw);
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.deleteHabitButton2 {
  text-shadow: 0 0 calc(1vh + 1vw) pink;
  font-size: calc(1vh + 1vw);
  background-color: transparent;
  border: none;
  color: white;
}

.buttonBoxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  color: white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}